<html>
    <head>
        <title>
            Show the user info
        </title>
    </head>

    <body>
        <h1 style="text-align: center;">Home page</h1>
        <p>
            <form action="/primes" method="post">
                <input type="number" name="till" placeholder="Get primes till" >
                <button>Get primes list</button>
            </form>
        </p>
        <hr>
        <p>
        <a href="/info">Add user</a>
        </p>
        
        <p>
        <a href="/contacts">Create new contact</a>
        </p>
        <hr>
        <p>
            <form action="/reference" method="post">
                <input type="submit" value="Reference all the existing contacts to all the existing users" >
            </form>
        </p>
        <p>
            <a href="/show">Show user info</a>
        </p>

    </body>
</html>